<script>

$(document).ready(function() {
  $("#actions a").click(
    function (event) {
      event.preventDefault();
      open_tab($(this).text(),$(this).attr("href"));
    }
  );
});

</script>

<br>
<div class="container-fluid">
  <div class="row-fluid">
    <div id="actions" class="well span3">
      <ul class="nav nav-list">
        <li class="nav-header">Members management</li>
        <li class="active"><a href=<%= members_ajnewmember_path %>>New member</a></li>
        <li><a href="#">Membership renewal</a></li>
        <li class="nav-header">Game borrowings</li>
        <li><a href="#">New Game Card</a></li>
        <li><a href="#">Game In/Out</a></li>
        <li class="nav-header">Activities</li>
        <li><a href="#">New Activity</a></li>
        <li><a href="#">New Registration</a></li>
      </ul>
    </div>
    <div id="main" class="span6">
      <ul class="nav nav-tabs" id="dashboardTabs">
        <li><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="dashboard">
          <div id="presence" class="well">
            Presence: # children - # adults - # total
          </div>
          <div id="late_members" class="well">
            <ul>
              <li>Member 2767 - Member name - Membership ends 02/02/2012 - Button to renew</li>
              <li>Member 2767 - Member name - Membership ends 02/02/2012 - Button to renew</li>
              <li>Member 2767 - Member name - Membership ends 02/02/2012 - Button to renew</li>
            </ul>
          </div>
          <div id="late_games" class="well">
            <ul>
              <li>Game 3002 - Game name - Expected for yesterday - Borrower - Button to register back in</li>
              <li>Game 3002 - Game name - Expected for yesterday - Borrower - Button to register back in</li>
              <li>Game 3002 - Game name - Expected for yesterday - Borrower - Button to register back in</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="current" class="well span3">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Current Activity Title
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              Activity details
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Registered
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              List of all registered children for the activity if the activity was available on registration only.
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              Participating
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              List of all participating children for the activity.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
