<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div id="openings" class="well">
        <h4>Horaires</h4>
        <br>
        <% if !@openings.nil? %>
          <% @openings.each do |opening| %>
            <p><%= opening %></p>
          <% end %>
        <% end %> 
      </div>
      <div id="news" class="well">
        <h4>Actualités</h4>
        <br>
      </div>
    </div>
    <div class="span9">
      
        <div class="accordian">
          <ul>
            <li class="span3">
              <div class="image_title">
                <a href="#">Jouer</a>
              </div>
              <a href="#">
                <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>
              </a>
            </li>
            <li class="span3">
              <div class="image_title">
                <a href="#">Emprunter</a>
              </div>
              <a href="#">
                <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg"/>
              </a>
            </li>
            <li class="span3">
              <div class="image_title">
                <a href="#">Se divertir</a>
              </div>
              <a href="#">
                <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg"/>
              </a>
            </li>
            <li class="span3">
              <div class="image_title">
                <a href="#">Rencontrer</a>
              </div>
              <a href="#">
                <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>
              </a>
            </li>
          </ul>
        </div>

      
      <div class="row-fluid">
        <div class="span6">
          <h2>Présentation</h2>
          <p><%= Aglae::Application.config.toy_library_presentation_text %></p>
          <p><a class="btn">View details</a></p>
        </div>
        <div class="span6">
          <h2>Fonctionnement</h2>
          <p><%= Aglae::Application.config.toy_library_functioning_text %></p>
          <p><a class="btn" href="#">View details</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

