<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div id="openings" class="well">
        <h4>Horaires</h4>
        <br>
        <% if !@openings.nil? %>
          <% @openings.each do |opening| %>
            <p><%= opening %></p>
          <% end %>
        <% end %> 
      </div>
      <div id="news" class="well">
        <h4>Actualités</h4>
        <br>
      </div>
    </div>
    <div class="span9">
      <div class="hero-unit">
      <div class="row-fluid">
        <div class="span6">
          <p>Un espace de jeu pour tous les moins de 6 ans</p>
          <p>Prêt de jeux pour tous les ages</p>
          <p>Animations, ateliers, spectacles</p>
          <p>Un lieu de rencontre pour les parents</p>
        </div>
        <div class="span3">
          <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <h2>Présentation</h2>
          <p><%= Aglae::Application.config.toy_library_presentation_text %></p>
          <p><a class="btn">View details</a></p>
        </div>
        <div class="span6">
          <h2>Fonctionnement</h2>
          <p><%= Aglae::Application.config.toy_library_functioning_text %></p>
          <p><a class="btn" href="#">View details</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

