<script>
function display_game_details() {
  $("#gameslist a").click(function(event) {
    event.preventDefault();
    url=$(this).attr("href");
    $("#gamedetails").load(url+"/jsshow");
  })
}

function new_game_div() {
  $("#newgamediv a").click(function(event) {
    event.preventDefault();
  })
}

$(document).ready(function() {
 $("#newgamediv").click(
  function () {
    if   ($("#gameform").text() == "") {
      $("#gameform").hide();
      $("#gameform").load("/games/ajnewgame", function(responseText, statusText, xhr) {
          $("#gameform").slideToggle();
        });
      
    } else {
      $("#gameform").slideToggle('slow', function () {$("#gameform").empty();});
      
    }
   }
  )
  display_game_details();
  new_game_div();
 });
</script>

<h1>Games</h1>
<div id="gameslist">
<div class="row">
<div class="span4">
<ul>
<% if @games.size == 0 %>
No games found
<% end %>
<% @games.each do |game| %>
<li><%= link_to game.name.capitalize, game %></li>
<% end %>
</ul>
</div>
<div class="span4">

<div id="gamedetails" class="details">
Click a game to view it.
</div>
</div>
<div class="span4">
<div id="newgamediv"><a id="newgamebutton" class="btn" href="<%= new_game_path %>">New game</a></div>

<div id="gameform" class="form"></div>
</div>

</div>