toy_library_name: "Galopins-Galipettes"
toy_library_adress: "15 rue Clément Michu"
toy_library_zipcode: "69100"
toy_library_city: "Villeurbanne"
toy_library_phone: "0478689953"
toy_library_contact_email: ""
toy_library_map_link: ""
toy_library_openings_mon_am: "9h30 à 12h (2 lundis par mois)"
toy_library_openings_mon_pm: "14h à 17h"
toy_library_openings_tue_am: ""
toy_library_openings_tue_pm: ""
toy_library_openings_wed_am: "9h30 à 12h"
toy_library_openings_wed_pm: "14h à 17h"
toy_library_openings_thu_am: ""
toy_library_openings_thu_pm: "14h à 17h"
toy_library_openings_fri_am: "9h30 à 12h"
toy_library_openings_fri_pm: "15h à 18h"
toy_library_openings_sat_am: "9h30 à 12h (2 samedis par mois)"
toy_library_openings_sat_pm: ""
toy_library_presentation_text: "La ludothèque de villeurbanne est gérée par l'association Galopins-Galipettes, loi 1901. C'est une association ouverte à toutes personnes, dans le respect de leurs convictions. L'association regroupe des parents, des professionnels de la petite enfance et des élus. Notre but premier est de développer des activités autour du jouet et du jeu. Pour cela, nous offrons un espace de jeu adapté aux petits, où l'enfant peut découvrir et choisir librement ses jeux et jouets. Nous souhaitons favoriser la rencontre entre enfants, parents et partenaires de la petite enfance tout en proposant pour les enfants, l' accès à l'éveil, à l'autonomie et à la socialisation par le jeu."
toy_library_functioning_text: "En s'inscrivant, chaque famille et collectivité deviennent adhérents. Cette adhésion annuelle de 30 euros permet de devenir membre actif en participant à la vie de l'association et permet également le jeu sur place et la location de jeux. Nous proposons à nos adhérents divers ateliers (éveil, danse, peinture, ...) pour les jeunes enfants, des soirées jeux animées par un bénévole ainsi que des spectacles (bal, carnaval, sorties)."
