<br>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#plan" data-toggle="tab">Accounts Plan</a></li>
    <li class=""><a href="#options" data-toggle="tab">Options</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="plan">
      <p>Accounting plan. Selection and creation of accounts.</p>
    </div>
    <div class="tab-pane" id="options">
      <p>Other options.</p>
    </div>
  </div>
</div>
