<br>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#types" data-toggle="tab">Activity Types</a></li>
    <li class=""><a href="#options" data-toggle="tab">Options</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="types">
      <p>Editable grid for activities types</p>
    </div>
    <div class="tab-pane" id="options">
      <p>Options for activities management (authorizing non members, etc ...)</p>
    </div>
  </div>
</div>
