<br>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#catalog" data-toggle="tab">Catalog</a></li>
    <li class=""><a href="#borrowings" data-toggle="tab">Borrowings</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="catalog">
      <p>Catalog options</p>
    </div>
    <div class="tab-pane" id="borrowings">
      <p>Borrowings options</p>
    </div>
  </div>
</div>
