<script type="text/javascript">
  $(document).ready(function() {
    $('#preferencesTab a').first.tab('show');
  });
</script>
<br>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs" id="preferencesTab">
    <li class="active"><a href="#member_types" data-toggle="tab">Member Types</a></li>
    <li class=""><a href="#membership_types" data-toggle="tab">Membership Types</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="member_types">
      <p>Editable grid for CRUD actions on member types</p>
    </div>
    <div class="tab-pane" id="membership_types">
      <p>Editable grid for CRUD actions on membership types</p>
    </div>
  </div>
</div>
