<br>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#location" data-toggle="tab">Location</a></li>
    <li class=""><a href="#openings" data-toggle="tab">Openings</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="location">
      <p>Location form</p>
    </div>
    <div class="tab-pane" id="openings">
      <p>Openings form</p>
    </div>
  </div>
</div>
