/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  padding: 40px
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.header {
	border-bottom: 1px solid #777;
}

.footer {
	padding: 8px 20px 5px 20px;
	font-size: 12px;
	color: #999999;
	background-color: #2c2c2c;
	border-top: 1px solid #777;
}

.footer-inner {
	
}