<ul id="sidebar-menu">
  <li class="start active">
    <a href="/">
      <span class="icon-home"></span> 
      <span class="title">Dashboard</span>
    </a>
  </li>
  <li class="<%= 'active' if current_page?(members_path) %>">
    <a href="/members">
      <span class="icon-group"></span> 
      <span class="title">Members</span>
    </a>
  </li>
  <li class="<%= 'active' if current_page?(games_path) %>">
    <a href="/games">
      <!-- <span class="icon-puzzle-piece"></span>  -->
      <span class="icon-th"></span> 
      <span class="title">Catalog</span>
    </a>
  </li>
  <li class="<%= 'active' if current_page?(calendar_index_path) %>">
    <a href="/calendar/index">
      <span class="icon-calendar"></span> 
      <span class="title">Calendar</span>
    </a>
  </li>
  <li class="has-sub">
    <a href="javascript:;">
      <span class="icon-thumbs-up"></span> 
      <span class="title">Preferences</span>
      <span class="icon-caret-down "></span>
    </a>
    <ul class="sub">
      <li><a href="/preferences/toy_library">Toy Library Data</a></li>
      <li class="divider"></li>
      <li><a href="/preferences/members_management">Members Management</a></li>
      <li><a href="/preferences/games_management">Games Management</a></li>
      <li class="divider"></li>
      <!-- <li class="nav-header">Nav header</li> -->
      <li><a href="/preferences/activities_management">Activities Management</a></li>
      <li><a href="/preferences/accountancy">Accountancy</a></li>
    </ul>
  </li>
</ul>