<script>
$(document).ready(function() {
 $("#group_details").hide();
 $("#member_children").hide();
 $("#membership").hide();
 $("#gamecard").hide();
 $("#cash").hide();
 $("#MemberFormSubmit").click(
  function () {  
    $.ajax({type:'POST', url: '/members/ajcreate', data:$('#new_member').serialize(), success: function(response) {
      alert(response["id"]);
      $('#member').empty();
      hide_load_and_show_div("#member","/members/"+response["id"]+"/summary");
      $('#member').addClass("well");
      
    }, dataType: 'json'});
    // Empecher l'action par défaut du bouton submit 
   	return false;
   }
  )
 });
 $("#member_category_id").change(function() {
 	$.get("/member_categories/"+$(this).val(), function(data) {
 		if (data["is_group"]) {
 			$("#group_details").show();
 		}
 		else {
 			$("#group_details").hide();
 		}
		
	}, "json");
 });
</script>

<div id="member">
	<%= render "form" %>
</div>
<div id="member_children">
	<%= render "new_member_children" %>
</div>
<div id="membership">
	<%= render "memberships/form" %>
</div>
<div id="gamecard">
	<%= render "game_cards/form" %>
</div>
<div id="cash">
	<button class="btn">Cash</button>
</div>


