<script>
function display_member_details() {
  $("#memberslist a").click(function(event) {
    event.preventDefault();
    url=$(this).attr("href");
    $("#memberdetails").load(url+"/jsshow");
  })
}

function new_member_div() {
  $("#newmemberdiv a").click(function(event) {
    event.preventDefault();
  })
}

$(document).ready(function() {
 $("#newmemberdiv").click(
  function () {
    if   ($("#memberform").text() == "") {
      $("#memberform").load("/members/test");
    } else {
      $("#memberform").empty();
    }
   }
  )
  display_member_details();
  new_member_div();
 });
</script>

<div id="memberslist">
<h1>Members</h1>
<ul>
<% if @members.size == 0 %>
No members found
<% end %>
<% @members.each do |member| %>
<li><%= link_to member.lastname.capitalize+" "+member.firstname.capitalize, member %></li>
<% end %>
</ul>
</div>
<div id="newmemberdiv"><a id="newmemberbutton" href="<%= new_member_path %>">New Member</a></div>

<div id="memberform" class="form"></div>

<div id="memberdetails" class="details"></div>


