<script>

$(document).ready(function() {
 //load_members_list();
 $("#newmemberdiv a").click(
  function (event) {
    event.preventDefault();
    if   ($("#memberform").text() == "") {
      $("#memberform").hide();
      $("#memberform").load("/members/ajnewmember", function(responseText, statusText, xhr) {
          $("#memberform").slideToggle();
        });
    } else {
      $("#memberform").slideToggle('slow', function () {$("#memberform").empty();});
    }
   }
  );
  var grid;
  var columns = [
    {id: "id", name: "ID", field: "id"},
    {id: "type", name: "Type", cssClass: "cell-member-type", field: "member_type", formatter: Slick.Formatters.MemberType},
    {id: "name", name: "Name", field: "name"},
    {id: "local", name: "Local", cssClass: "cell-local-member", field: "is_local", formatter: Slick.Formatters.Locality},
    {id: "children_count", name: "Children", field: "children_count"},
    {id: "joined_at", name: "Since", field: "created_at"},
    {id: "board_member", name: "Board Member", cssClass: "cell-board-member", field: "is_a_board_member", formatter: Slick.Formatters.Checkmark}
  ];
  var options = {
    enableCellNavigation: true,
    enableColumnReorder: false
  };
  $.getJSON('/members', function(data) {
      grid = new Slick.Grid("#membersGrid", data, columns, options);
      $("#membersGrid").show();
    });
 });
</script>

<br/>
<div class="row-fluid">
  <div class="span2">
    <h1>Members</h1>
  </div>
  <div class="span10">
    <div class="btn-group">
      <button class="btn active">All</button>
      <button class="btn">Board</button>
      <button class="btn">Volunteers</button>
      <button class="btn">Late</button>
      <button class="btn">Inactive</button>
    </div>
  </div>
</div>

<br/>
<div class="row-fluid">
<div class="span8">
<div id="memberslist">
  <div id="membersGrid" style="width:100%; height:500px;"></div>
</div>
</div>
<!-- <div class="span4 well">

<div id="memberdetails" class="details">
Click a member to view it.
</div>
</div>-->
<div class="span4 well">
<div id="newmemberdiv"><a id="newmemberbutton" class="btn" href="<%= new_member_path %>">New Member</a></div>

<div id="memberform" class="form"></div>
</div>
</div>


<script>
  

  /*$(function () {
    var data = [];
    for (var i = 0; i < 500; i++) {
      data[i] = {
        title: "Task " + i,
        duration: "5 days",
        percentComplete: Math.round(Math.random() * 100),
        start: "01/01/2009",
        finish: "01/05/2009",
        effortDriven: (i % 5 == 0)
      };
    }*/
    
    

    /*grid = new Slick.Grid("#membersGrid", data, columns, options);
    $("#membersGrid").show(); */
  })
</script>
