<script>

$(document).ready(function() {
 load_members_list();
 $("#newmemberdiv a").click(
  function (event) {
    event.preventDefault();
    if   ($("#memberform").text() == "") {
      $("#memberform").hide();
      $("#memberform").load("/members/ajnewmember", function(responseText, statusText, xhr) {
          $("#memberform").slideToggle();
        });
    } else {
      $("#memberform").slideToggle('slow', function () {$("#memberform").empty();});
    }
   }
  )
  
 });
</script>

<h1>Members</h1>

<div class="row-fluid">
<div class="span4 well">
<div id="memberslist">

</div>
</div>
<div class="span4 well">

<div id="memberdetails" class="details">
Click a member to view it.
</div>
</div>
<div class="span4 well">
<div id="newmemberdiv"><a id="newmemberbutton" class="btn" href="<%= new_member_path %>">New Member</a></div>

<div id="memberform" class="form"></div>
</div>
</div>
