<script>

$(document).ready(function() {
 //load_members_list();
 $("a.action").click(
  function (event) {
    event.preventDefault();
    hide_load_and_show_div("#member_details","/members/ajnewmember");
    /*$("#member_details").hide('slow');
    $("#member_details").load("/members/ajnewmember", function() {
      $(this).show('slow');

    });*/
   }
  );

  var grid;
  var columns = [
    {id: "id", name: "ID", field: "id"},
    {id: "type", name: "Type", cssClass: "cell-member-type", field: "member_type", formatter: Slick.Formatters.MemberType},
    {id: "name", name: "Name", field: "name"},
    {id: "local", name: "Local", cssClass: "cell-local-member", field: "is_local", formatter: Slick.Formatters.Locality},
    {id: "children_count", name: "Children", field: "children_count"},
    {id: "joined_at", name: "Since", field: "created_at"},
    {id: "board_member", name: "Board Member", cssClass: "cell-board-member", field: "is_a_board_member", formatter: Slick.Formatters.Checkmark},
    {id: "volunteer", name: "Volunteer", cssClass: "cell-board-member", field: "is_a_volunteer", formatter: Slick.Formatters.Checkmark}
  ];
  var board_columns = [
    {id: "id", name: "ID", field: "id"},
    {id: "type", name: "Type", cssClass: "cell-member-type", field: "member_type", formatter: Slick.Formatters.MemberType},
    {id: "name", name: "Name", field: "name"},
    {id: "local", name: "Local", cssClass: "cell-local-member", field: "is_local", formatter: Slick.Formatters.Locality},
    {id: "children_count", name: "Children", field: "children_count"},
    {id: "joined_at", name: "Since", field: "created_at"},
    {id: "board_entry", name: "Joined Board on", field: "last_entered_board_at"},
    {id: "volunteer", name: "Volunteer", cssClass: "cell-board-member", field: "is_a_volunteer", formatter: Slick.Formatters.Checkmark}
  ];
  var volunteers_columns = [
    {id: "id", name: "ID", field: "id"},
    {id: "type", name: "Type", cssClass: "cell-member-type", field: "member_type", formatter: Slick.Formatters.MemberType},
    {id: "name", name: "Name", field: "name"},
    {id: "local", name: "Local", cssClass: "cell-local-member", field: "is_local", formatter: Slick.Formatters.Locality},
    {id: "children_count", name: "Children", field: "children_count"},
    {id: "joined_at", name: "Since", field: "created_at"},
    {id: "first_voluntary_work", name: "First work", field: "first_volunteered_at"},
    {id: "last_voluntary_work", name: "Last work", field: "Last_volunteered_at"},
    {id: "board_member", name: "Board Member", cssClass: "cell-board-member", field: "is_a_board_member", formatter: Slick.Formatters.Checkmark}
  ];
  var options = {
    enableCellNavigation: true,
    forceFitColumns: true,
    enableColumnReorder: false
  };
  $.getJSON('/members', function(data) {
      create_load_and_display_data_grid("#membersGrid",data["members"], columns, options, "#member_details", "members", "jsshow" );
      /*grid = new Slick.Grid("#membersGrid", data["members"], columns, options);
      grid.setSelectionModel(new Slick.RowSelectionModel());
      grid.onSelectedRowsChanged.subscribe(function() {
        var selRows = grid.getSelectedRows();
        for (var i = 0, l = selRows.length; i < l; i++) {
          var gridData = grid.getData();
          var item = gridData[selRows[i]];
          if (item) {
            var rowId = item.id;
            $("#member_details").hide();
            $("#member_details").load("/members/"+rowId+"/jsshow");
            $("#member_details").show();
          }
        }
      });
      $("#membersGrid").show();*/
      $(".view").click(
        function (event) {
          alert($(this).attr("id")+" has been clicked");
          event.preventDefault();
          $("#membersGrid").hide;
          if ($(this).attr("id") == "all_members_view") {
            //grid = new Slick.Grid("#membersGrid", data["all_members"], columns, options);
            create_load_and_display_data_grid("#membersGrid",data["all_members"], columns, options, "#member_details", "members", "jsshow" );
          }
          else if ($(this).attr("id") == "board_members_view") {
            //grid = new Slick.Grid("#membersGrid", data["board_members"], board_columns, options);
            create_load_and_display_data_grid("#membersGrid", data["board_members"], board_columns, options, "#member_details", "members", "jsshow" );
          }
          else if ($(this).attr("id") == "volunteers_view") {
            //grid = new Slick.Grid("#membersGrid", data["volunteers"], volunteers_columns, options);
            create_load_and_display_data_grid("#membersGrid", data["volunteers"], volunteers_columns, options, "#member_details", "members", "jsshow" );
          }
          else if ($(this).attr("id") == "late_members_view"){
            //grid = new Slick.Grid("#membersGrid", data["members"], columns, options);
          }
          else if ($(this).attr("id") == "inactive_members_view"){
            //grid = new Slick.Grid("#membersGrid", data["members"], columns, options);
          }
          //grid.setSelectionModel(new Slick.RowSelectionModel());
          //$("#membersGrid").show();
          $(".btn").removeClass("active");
          $(this).addClass("active");
        }
      );
    });
 });

  


</script>

<br/>
<div class="row-fluid">
  <div class="span2" id="title">
    <h1>Members</h1>
  </div>
  <div class="span8" id="views_toolbar">
    <div class="btn-group">
      <button id="all_members_view" class="btn view active">All</button>
      <button id="board_members_view" class="btn view">Board</button>
      <button id="volunteers_view" class="btn view">Volunteers</button>
      <button id="late_members_view" class="btn view">Late</button>
      <button id="inactive_members_view" class="btn view">Inactive</button>
    </div>
  </div>
  <div class="span2 pull-right" id="actions_toolbar">
    <div class="btn-group">
      <a id="newmemberbutton" class="btn action" href="<%= new_member_path %>">New Member</a>
    </div>
  </div>
</div>

<br/>
<div class="row-fluid">
  <div class="span8">
    <div id="memberslist">
      <div id="membersGrid" style="width:100%; height:500px;"></div>
    </div>
  </div>
  <div id="member_details" class="span4 well"></div>
</div>