
<ul class="nav nav-list">
<% if @members.size == 0 %>
No members found
<% end %>
<% @members.each do |member| %>
<li><%= link_to member.lastname.to_s.capitalize() +" "+member.firstname.to_s.capitalize(), member %></li>
<% end %>
</ul>
